<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Dependent Class Configuration --> 
    <bean id="lt" class="java.time.LocalTime" factory-method="now" />
    
    <!-- Target class Configuration -->
    <bean id="wmg" class="com.vik.beans.WishMassageGenrator">
    <property name="localTime" ref="lt"></property>
    </bean>
    

</beans>