<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Dependent spring bean cfg -->
	<bean id="ltime" class="java.time.LocalTime" factory-method="now"/>
	<!-- Calls LOcalTime.now() method to create LocalTime class object having system time -->
	
	<!-- Target Spring bean class cfg -->
	<bean id="wmg" class="com.nt.sbeans.WishMessageGenerator">
		<property name="time" ref="ltime"/>
		<!-- setter injection to inject localtime onj(ltime) to property of wishMessageGenrator class obj(wmg) -->
	</bean>
    

</beans>
